<a href="https://colab.research.google.com/github/mariamahmed2/MAGIC-Gamma-Telescope/blob/main/gamma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [59]:
df = pd.read_csv('telescope_data.csv')

In [60]:
df

       Unnamed: 0   fLength    fWidth  ...   fAlpha     fDist  class
0               0   28.7967   16.0021  ...  40.0920   81.8828      g
1               1   31.6036   11.7235  ...   6.3609  205.2610      g
2               2  162.0520  136.0310  ...  76.9600  256.7880      g
3               3   23.8172    9.5728  ...  10.4490  116.7370      g
4               4   75.1362   30.9205  ...   4.6480  356.4620      g
...           ...       ...       ...  ...      ...       ...    ...
19015       19015   21.3846   10.9170  ...   2.4229  106.8258      h
19016       19016   28.9452    6.7020  ...  86.7975  247.4560      h
19017       19017   75.4455   47.5305  ...  30.2987  256.5166      h
19018       19018  120.5135   76.9018  ...  84.6874  408.3166      h
19019       19019  187.1814   53.0014  ...  52.7310  272.3174      h

[19020 rows x 12 columns]

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19020 non-null  int64
 1   fLength     19020 non-null  float64
 2   fWidth      19020 non-null  float64
 3   fSize       19020 non-null  float64
 4   fConc       19020 non-null  float64
 5   fConc1      19020 non-null  float64
 6   fAsym       19020 non-null  float64
 7   fM3Long     19020 non-null  float64
 8   fM3Trans    19020 non-null  float64
 9   fAlpha      19020 non-null  float64
 10  fDist       19020 non-null  float64
 11  class       19020 non-null  object
dtypes: float64(10), int64(1), object(1)
memory usage: 1.7+ MB

In [62]:
df['class'].replace(['g','h'],[0,1],inplace=True)

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19020 non-null  int64
 1   fLength     19020 non-null  float64
 2   fWidth      19020 non-null  float64
 3   fSize       19020 non-null  float64
 4   fConc       19020 non-null  float64
 5   fConc1      19020 non-null  float64
 6   fAsym       19020 non-null  float64
 7   fM3Long     19020 non-null  float64
 8   fM3Trans    19020 non-null  float64
 9   fAlpha      19020 non-null  float64
 10  fDist       19020 non-null  float64
 11  class       19020 non-null  int64
dtypes: float64(10), int64(2)
memory usage: 1.7 MB

In [64]:
df

       Unnamed: 0   fLength    fWidth  ...   fAlpha     fDist  class
0               0   28.7967   16.0021  ...  40.0920   81.8828      0
1               1   31.6036   11.7235  ...   6.3609  205.2610      0
2               2  162.0520  136.0310  ...  76.9600  256.7880      0
3               3   23.8172    9.5728  ...  10.4490  116.7370      0
4               4   75.1362   30.9205  ...   4.6480  356.4620      0
...           ...       ...       ...  ...      ...       ...    ...
19015       19015   21.3846   10.9170  ...   2.4229  106.8258      1
19016       19016   28.9452    6.7020  ...  86.7975  247.4560      1
19017       19017   75.4455   47.5305  ...  30.2987  256.5166      1
19018       19018  120.5135   76.9018  ...  84.6874  408.3166      1
19019       19019  187.1814   53.0014  ...  52.7310  272.3174      1

[19020 rows x 12 columns]

In [65]:
x,y = (df.values[:,:11],df.values[:,11:12])

In [67]:
train_ratio = 0.70
validation_ratio = 0.15
test_ratio = 0.15

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1 - train_ratio)

x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio))

In [68]:
from imblearn.over_sampling import SMOTE
smt = SMOTE()
x_train_sm, y_train_sm = smt.fit_resample(x_train, y_train)

In [69]:
x_train_sm.shape
y_train_sm.shape

(17320,)

In [70]:
from sklearn.tree import DecisionTreeClassifier
treeModel = DecisionTreeClassifier()
treeModel.fit(x_train_sm, y_train_sm)
predictions = treeModel.predict(x_test)

In [71]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      1862
         1.0       1.00      1.00      1.00       992

    accuracy                           1.00      2854
   macro avg       1.00      1.00      1.00      2854
weighted avg       1.00      1.00      1.00      2854

[[1862    0]
 [   0  992]]

In [72]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(n_estimators=100)
ada.fit(x_train_sm, y_train_sm)
preAda = ada.predict(x_test)

In [73]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_test, preAda))
print(confusion_matrix(y_test, preAda))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      1862
         1.0       1.00      1.00      1.00       992

    accuracy                           1.00      2854
   macro avg       1.00      1.00      1.00      2854
weighted avg       1.00      1.00      1.00      2854

[[1862    0]
 [   0  992]]

In [74]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Activation, Dense

In [84]:
def create_model(optimizer='adam', activation = 'sigmoid', hidden_layers=1, neurons=1):
  # Initialize the constructor
  model = Sequential()
  # Add an input layer
  model.add(Dense(11, activation=activation, input_shape=(11,)))

  for i in range(hidden_layers):
      # Add one hidden layer
      model.add(Dense(neurons, activation=activation))

  # Add an output layer 
  model.add(Dense(2, activation=activation))
  #compile model
  model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
  return model

In [81]:
from sklearn.model_selection import RandomizedSearchCV
from keras.wrappers.scikit_learn import KerasClassifier

In [85]:
my_classifier = KerasClassifier(build_fn=create_model, verbose=0)# Create hyperparameter space
epochs = [5, 10]
batches = [5, 10, 100]
neurons = [1, 5, 10, 15, 20, 25, 30]
hidden_layers = [1,3,5,7,9,11]
activation1 = ['relu','sigmoid']


# Create hyperparameter options
hyperparameters = dict(epochs=epochs, batch_size=batches, activation=activation1, hidden_layers=hidden_layers, neurons=neurons)
# Create grid search
grid = RandomizedSearchCV(estimator=my_classifier, param_distributions=hyperparameters) #inserir param_distributions

# Fit grid search
grid_result = grid.fit(x_train_sm, y_train_sm)

# View hyperparameters of best neural network
grid_result.best_params_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
25 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
25 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 232, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1129, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 878, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 867, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 860, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 810, in train_step
        y, y_pred, sample_weight, regularization_losses=self.losses)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/compile_utils.py", line 201, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 141, in __call__
        losses = call_fn(y_true, y_pred)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 245, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 1807, in binary_crossentropy
        backend.binary_crossentropy(y_true, y_pred, from_logits=from_logits),
    File "/usr/local/lib/python3.7/dist-packages/keras/backend.py", line 5158, in binary_crossentropy
        return tf.nn.sigmoid_cross_entropy_with_logits(labels=target, logits=output)

    ValueError: `logits` and `labels` must have the same shape, received ((None, 2) vs (None, 1)).


  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [       nan 0.44110854 0.46963049        nan 0.38013857        nan
        nan        nan 0.49994227 0.5       ]
  category=UserWarning,

{'activation': 'relu',
 'batch_size': 5,
 'epochs': 10,
 'hidden_layers': 9,
 'neurons': 20}

In [79]:
my_classifier = KerasClassifier(build_fn=create_model, verbose=0)# Create hyperparameter space
epochs = [5, 10]
batches = [5, 10, 100]
optimizers = ['rmsprop', 'adam']
activation1 = ['relu','sigmoid']

# Create hyperparameter options
hyperparameters = dict(optimizer=optimizers, epochs=epochs, batch_size=batches, activation=activation1)
# Create grid search
grid = RandomizedSearchCV(estimator=my_classifier, param_distributions=hyperparameters) #inserir param_distributions

# Fit grid search
grid_result = grid.fit(x_train_sm, y_train_sm)

# View hyperparameters of best neural network
grid_result.best_params_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 232, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1129, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 878, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 867, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 860, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 810, in train_step
        y, y_pred, sample_weight, regularization_losses=self.losses)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/compile_utils.py", line 201, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 141, in __call__
        losses = call_fn(y_true, y_pred)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 245, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 1807, in binary_crossentropy
        backend.binary_crossentropy(y_true, y_pred, from_logits=from_logits),
    File "/usr/local/lib/python3.7/dist-packages/keras/backend.py", line 5158, in binary_crossentropy
        return tf.nn.sigmoid_cross_entropy_with_logits(labels=target, logits=output)

    ValueError: `logits` and `labels` must have the same shape, received ((None, 2) vs (None, 1)).


  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.49942262 0.69976906 0.49549654        nan 0.43874134 0.42159353
 0.49994227 0.50023095        nan 0.42234411]
  category=UserWarning,

{'activation': 'relu', 'batch_size': 100, 'epochs': 10, 'optimizer': 'rmsprop'}

In [ ]:
classifier = KerasClassifier(build_fn=create_model, verbose=0)# Create hyperparameter space
parameters = {'batch_size': [25, 32],
          'epochs': [100, 500],
          'optimizer': ['adam', 'rmsprop']}
grid_search = GridSearchCV(estimator = classifier,
                       param_grid = parameters,
                       scoring = 'accuracy',
                       cv = 10)
grid_search = grid_search.fit(x_train_sm, y_train_sm)

In [ ]:
# class count
class_count_g, class_count_h = df['class'].value_counts()

# Separate class
class_g = df[df['class'] == 'g']
class_h = df[df['class'] == 'h']

# print the shape of the class
print('class g:', class_g.shape)
print('class h:', class_h.shape)

class g: (0, 12)
class h: (0, 12)

In [ ]:
class_h_over = class_h.sample(class_count_g, replace=True)

test_over = pd.concat([class_h_over, class_g], axis=0)
print("total class of h and g:",test_over['class'].value_counts())

ValueError: ignored