<a href="https://colab.research.google.com/github/mariamahmed2/MAGIC-Gamma-Telescope/blob/main/gamma.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Classification Using Tensorflow

## Data Handeling

In [57]:
import pandas as pd

In [58]:
# read the csv file
df = pd.read_csv('telescope_data.csv')

In [59]:
# show the data frame
df

       Unnamed: 0   fLength    fWidth  ...   fAlpha     fDist  class
0               0   28.7967   16.0021  ...  40.0920   81.8828      g
1               1   31.6036   11.7235  ...   6.3609  205.2610      g
2               2  162.0520  136.0310  ...  76.9600  256.7880      g
3               3   23.8172    9.5728  ...  10.4490  116.7370      g
4               4   75.1362   30.9205  ...   4.6480  356.4620      g
...           ...       ...       ...  ...      ...       ...    ...
19015       19015   21.3846   10.9170  ...   2.4229  106.8258      h
19016       19016   28.9452    6.7020  ...  86.7975  247.4560      h
19017       19017   75.4455   47.5305  ...  30.2987  256.5166      h
19018       19018  120.5135   76.9018  ...  84.6874  408.3166      h
19019       19019  187.1814   53.0014  ...  52.7310  272.3174      h

[19020 rows x 12 columns]

In [60]:
# show info about the data to check if there is any missing values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19020 non-null  int64
 1   fLength     19020 non-null  float64
 2   fWidth      19020 non-null  float64
 3   fSize       19020 non-null  float64
 4   fConc       19020 non-null  float64
 5   fConc1      19020 non-null  float64
 6   fAsym       19020 non-null  float64
 7   fM3Long     19020 non-null  float64
 8   fM3Trans    19020 non-null  float64
 9   fAlpha      19020 non-null  float64
 10  fDist       19020 non-null  float64
 11  class       19020 non-null  object
dtypes: float64(10), int64(1), object(1)
memory usage: 1.7+ MB

In [61]:
# replace the clases (g,h) by (0,1)
df['class'].replace(['g','h'],[0,1],inplace=True)

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19020 entries, 0 to 19019
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  19020 non-null  int64
 1   fLength     19020 non-null  float64
 2   fWidth      19020 non-null  float64
 3   fSize       19020 non-null  float64
 4   fConc       19020 non-null  float64
 5   fConc1      19020 non-null  float64
 6   fAsym       19020 non-null  float64
 7   fM3Long     19020 non-null  float64
 8   fM3Trans    19020 non-null  float64
 9   fAlpha      19020 non-null  float64
 10  fDist       19020 non-null  float64
 11  class       19020 non-null  int64
dtypes: float64(10), int64(2)
memory usage: 1.7 MB

In [33]:
df

       Unnamed: 0   fLength    fWidth  ...   fAlpha     fDist  class
0               0   28.7967   16.0021  ...  40.0920   81.8828      0
1               1   31.6036   11.7235  ...   6.3609  205.2610      0
2               2  162.0520  136.0310  ...  76.9600  256.7880      0
3               3   23.8172    9.5728  ...  10.4490  116.7370      0
4               4   75.1362   30.9205  ...   4.6480  356.4620      0
...           ...       ...       ...  ...      ...       ...    ...
19015       19015   21.3846   10.9170  ...   2.4229  106.8258      1
19016       19016   28.9452    6.7020  ...  86.7975  247.4560      1
19017       19017   75.4455   47.5305  ...  30.2987  256.5166      1
19018       19018  120.5135   76.9018  ...  84.6874  408.3166      1
19019       19019  187.1814   53.0014  ...  52.7310  272.3174      1

[19020 rows x 12 columns]

## Data Split

In [63]:
# divide the data into 2 sections input x (features) and output y (clases)
x,y = (df.values[:,:11],df.values[:,11:12])

In [64]:
# divide the data into training, validating, and testing 
from sklearn.model_selection import train_test_split

train_ratio = 0.70
validation_ratio = 0.15
test_ratio = 0.15

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=1 - train_ratio)

x_val, x_test, y_val, y_test = train_test_split(x_test, y_test, test_size=test_ratio/(test_ratio + validation_ratio))

In [66]:
x_train.shape

(13313, 11)

## Data Balancing Using SMOT Algorithm

In [67]:
from imblearn.over_sampling import SMOTE
smt = SMOTE()
x_train_sm, y_train_sm = smt.fit_resample(x_train, y_train)

In [68]:
x_train_sm.shape

(17310, 11)

## Decision Trees AdaBoost models

In [38]:
from sklearn.tree import DecisionTreeClassifier
treeModel = DecisionTreeClassifier()
treeModel.fit(x_train_sm, y_train_sm)
predictions = treeModel.predict(x_test)

In [39]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_test, predictions))
print(confusion_matrix(y_test, predictions))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      1831
         1.0       1.00      1.00      1.00      1023

    accuracy                           1.00      2854
   macro avg       1.00      1.00      1.00      2854
weighted avg       1.00      1.00      1.00      2854

[[1831    0]
 [   0 1023]]

In [40]:
from sklearn.ensemble import AdaBoostClassifier
ada = AdaBoostClassifier(n_estimators=100)
ada.fit(x_train_sm, y_train_sm)
preAda = ada.predict(x_test)

In [41]:
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
print(classification_report(y_test, preAda))
print(confusion_matrix(y_test, preAda))

              precision    recall  f1-score   support

         0.0       1.00      1.00      1.00      1831
         1.0       1.00      1.00      1.00      1023

    accuracy                           1.00      2854
   macro avg       1.00      1.00      1.00      2854
weighted avg       1.00      1.00      1.00      2854

[[1831    0]
 [   0 1023]]

## Neural Network Using Tensorflow

In [69]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

In [70]:
def create_model(optimizer='adam', activation = 'sigmoid', hidden_layers=1, neurons=1):
  # Initialize the constructor
  model = Sequential()
  # Add an input layer
  model.add(Dense(11, activation=activation, input_shape=(11,)))

  for i in range(hidden_layers):
      # Add one hidden layer
      model.add(Dense(neurons, activation=activation))

  # Add an output layer 
  model.add(Dense(2, activation=activation))
  #compile model
  model.compile(loss='binary_crossentropy', optimizer=optimizer, metrics=['accuracy'])
  return model

In [71]:
from sklearn.model_selection import RandomizedSearchCV
from keras.wrappers.scikit_learn import KerasClassifier

In [72]:
my_classifier = KerasClassifier(build_fn=create_model, verbose=0)# Create hyperparameter space
epochs = [5, 10]
batches = [5, 10, 100]
neurons = [1, 5, 10, 15, 20, 25, 30]
hidden_layers = [1,3,5,7,9,11]
activation1 = ['relu','sigmoid']


# Create hyperparameter options
hyperparameters = dict(epochs=epochs, batch_size=batches, activation=activation1, hidden_layers=hidden_layers, neurons=neurons)
# Create grid search
grid = RandomizedSearchCV(estimator=my_classifier, param_distributions=hyperparameters) 

# Fit grid search
grid_result = grid.fit(x_train_sm, y_train_sm)

# View hyperparameters of best neural network
grid_result.best_params_

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: DeprecationWarning: KerasClassifier is deprecated, use Sci-Keras (https://github.com/adriangb/scikeras) instead. See https://www.adriangb.com/scikeras/stable/migration.html for help migrating.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py:372: FitFailedWarning:
10 fits failed out of a total of 50.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
10 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_validation.py", line 680, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 236, in fit
    return super(KerasClassifier, self).fit(x, y, **kwargs)
  File "/usr/local/lib/python3.7/dist-packages/keras/wrappers/scikit_learn.py", line 164, in fit
    history = self.model.fit(x, y, **fit_args)
  File "/usr/local/lib/python3.7/dist-packages/keras/utils/traceback_utils.py", line 67, in error_handler
    raise e.with_traceback(filtered_tb) from None
  File "/usr/local/lib/python3.7/dist-packages/tensorflow/python/framework/func_graph.py", line 1147, in autograph_handler
    raise e.ag_error_metadata.to_exception(e)
ValueError: in user code:

    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1021, in train_function  *
        return step_function(self, iterator)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1010, in step_function  **
        outputs = model.distribute_strategy.run(run_step, args=(data,))
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 1000, in run_step  **
        outputs = model.train_step(data)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 860, in train_step
        loss = self.compute_loss(x, y, y_pred, sample_weight)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/training.py", line 919, in compute_loss
        y, y_pred, sample_weight, regularization_losses=self.losses)
    File "/usr/local/lib/python3.7/dist-packages/keras/engine/compile_utils.py", line 201, in __call__
        loss_value = loss_obj(y_t, y_p, sample_weight=sw)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 141, in __call__
        losses = call_fn(y_true, y_pred)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 245, in call  **
        return ag_fn(y_true, y_pred, **self._fn_kwargs)
    File "/usr/local/lib/python3.7/dist-packages/keras/losses.py", line 1932, in binary_crossentropy
        backend.binary_crossentropy(y_true, y_pred, from_logits=from_logits),
    File "/usr/local/lib/python3.7/dist-packages/keras/backend.py", line 5247, in binary_crossentropy
        return tf.nn.sigmoid_cross_entropy_with_logits(labels=target, logits=output)

    ValueError: `logits` and `labels` must have the same shape, received ((None, 2) vs (None, 1)).


  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_search.py:972: UserWarning: One or more of the test scores are non-finite: [0.49999999        nan 0.49809359 0.49999999 0.49999999        nan
 0.49999999 0.38006932 0.49999999 0.6181398 ]
  category=UserWarning,

{'activation': 'relu',
 'batch_size': 100,
 'epochs': 5,
 'hidden_layers': 5,
 'neurons': 30}

In [73]:
modelpre = grid.predict(x_test)

In [74]:
print(classification_report(y_test, modelpre))
print(confusion_matrix(y_test, modelpre))

              precision    recall  f1-score   support

         0.0       0.63      1.00      0.78      1810
         1.0       0.00      0.00      0.00      1044

    accuracy                           0.63      2854
   macro avg       0.32      0.50      0.39      2854
weighted avg       0.40      0.63      0.49      2854

[[1810    0]
 [1044    0]]

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))